In [2]:
import pandas as pd
import numpy as np

data = np.array(['A', 'B', 'C', 'D', 'E'])
df = pd.Series(data, index=[1,2,3,4,5])
print(df)

1    A
2    B
3    C
4    D
5    E
dtype: object

In [9]:
data = [['Tim', 35], ['Sonya', 30], ['Sunny', 34]]
df = pd.DataFrame(data, columns=['Name','Age'])
print(df)

    Name  Age
0    Tim   35
1  Sonya   30
2  Sunny   34

In [32]:
data = {'Artist':pd.Series(['Billie Holiday', 'Jimi Hendrix', 'Miles Davis', 'SIA']),
        'Genre':pd.Series(['Jazz', 'Rock', 'Jazz', 'Pop']),
        'Listeners':pd.Series([1300000, 2700000, 1500000, 2000000]),
        'Plays':pd.Series([27000000, 70000000, 48000000, 74000000]),
        'Year':pd.Series([2012, 2015, 2017, 2009])}
df = pd.DataFrame(data)
print(df)

           Artist Genre  Listeners     Plays  Year
0  Billie Holiday  Jazz    1300000  27000000  2012
1    Jimi Hendrix  Rock    2700000  70000000  2015
2     Miles Davis  Jazz    1500000  48000000  2017
3             SIA   Pop    2000000  74000000  2009

In [24]:
df.rename(columns={'Plays':'Streaming'}, inplace=True)
df.columns

Index(['Artist', 'Genre', 'Listeners', 'Streaming', 'Year'], dtype='object')

In [25]:
subset = df[['Genre','Artist']]
subset

  Genre          Artist
0  Jazz  Billie Holiday
1  Rock    Jimi Hendrix
2  Jazz     Miles Davis
3   Pop             SIA

In [26]:
df[df['Year'] == 2012]

           Artist Genre  Listeners  Streaming  Year
0  Billie Holiday  Jazz    1300000   27000000  2012

In [27]:
df[df['Year'] >= 2012]

           Artist Genre  Listeners  Streaming  Year
0  Billie Holiday  Jazz    1300000   27000000  2012
1    Jimi Hendrix  Rock    2700000   70000000  2015
2     Miles Davis  Jazz    1500000   48000000  2017

In [34]:
df[(df['Artist'] == 'Miles Davis') | (df['Artist'] == 'Jimi Hendrix')]

         Artist Genre  Listeners     Plays  Year
1  Jimi Hendrix  Rock    2700000  70000000  2015
2   Miles Davis  Jazz    1500000  48000000  2017

In [37]:
df.sort_values(by='Year', ascending=False)

           Artist Genre  Listeners     Plays  Year
2     Miles Davis  Jazz    1500000  48000000  2017
1    Jimi Hendrix  Rock    2700000  70000000  2015
0  Billie Holiday  Jazz    1300000  27000000  2012
3             SIA   Pop    2000000  74000000  2009

In [39]:
df.isnull().sum()

Artist       0
Genre        0
Listeners    0
Plays        0
Year         0
dtype: int64

In [40]:
df.dropna(inplace=True)